nav{
  padding: 2px 128px 2px 32px;
  background-color: white;
  height: 86px;

  .header-logo {
    float: left;

    img {
      height: 84px;
    }
  }

  .header-tools {
    float: right;
    height: 84px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--black-font);

    a:-webkit-any-link{
      color: var(--black-font) !important;
    }

    .float-left {
      float: left;
      margin: auto;
    }

    i {
      font-size: 1.1em !important;
      margin-right: 1.1em;
    }

    .apps i {
      color: var(--grey-disabled);
      font-size: 2.2em !important;
      margin-right: 1.1em;
    }

    span {
      font-size: 1.2em;
      height: 34px;
      width: 34px;
      background-color: #48921f;
      border-radius: 17px;
      color: white;

      p {
        margin: 0.25em 0.65em;
      }
    }

    .user {
      p {
        margin: 0.2em 1em;
      }

      .name {
        font-size: 0.8em;
        font-weight: 500;
        position: relative;

        i {
          position: absolute;
          top: 0.05em;
        }
      }

      .role {
        font-size: 0.65em;
        margin-left: 1.25em;
      }
    }
  }
}
