<nav>
  <a href="#" class="header-logo"><img src="./assets/img/candido.png" alt="Universidade Candido Mendes"></a>

  <div class="header-tools">
    <a href="#" class="float-left"><i class="material-icons">info</i></a>
    <a href="#" class="float-left apps"><i class="material-icons">apps</i></a>
    <span class="float-left"><p>{{user.name[0]}}</p></span>
    <div class="float-left user">
      <p class="name">{{user.name}} <i class="material-icons">keyboard_arrow_down</i></p>
      <p class="role">{{user.role}}</p>
    </div>
  </div>
</nav>
