<app-navbar></app-navbar>

<main>
  <app-header [user]="user"></app-header>

  <section>
    <div class="top">
      <div class="path">
        <img src="./assets/img/marca.png" alt="Protocolo">
        <p>/&nbsp;&nbsp;&nbsp;Natureza do Requerimento</p>
      </div>

      <div class="protocolos">
        <p><i class="material-icons">equalizer</i> <b>Todos os protocolos</b></p>
        <div class="dados">
          <p class="total">343</p>
          <p class="week"><span>+6</span> essa semana</p>
        </div>
        <p class="arrow"><i class="material-icons">keyboard_arrow_down</i></p>
      </div>
    </div>


    <form action="#" method="get">
      <h3>Natureza do Requerimento</h3>
      <p>Tela de cadastro</p>
      <div class="form-group">
        <label for="descricao">Descrição</label><br>
        <input type="text" name="descricao" placeholder="Preencha aqui" [(ngModel)]="requerimento.descricao">
      </div>
      <div class="form-group">
        <label for="input">Input 2</label><br>
        <select [class.empty]="requerimento.input == ''" name="input" [(ngModel)]="requerimento.input">
          <option value="">Preencha aqui</option>
          <option value="Teste 1">Teste 1</option>
          <option value="Teste 2">Teste 2</option>
          <option value="Teste 3">Teste 3</option>
        </select>
        <i class="material-icons">keyboard_arrow_down</i>
      </div>
      <input *ngIf="requerimento.input == ''" class="btn-blue" type="button" value="Nova natureza">
      <input *ngIf="requerimento.input != ''" class="btn-green" type="submit" value="Adicionar a natureza">
      <input class="btn-grey" type="reset" value="Limpar">
    </form>
  </section>
</main>
