main {
  margin-left: 72px;

  section {
    padding: 25px 70px 25px 32px;

    .top {
      height: 86px;
      width: 100%;
      padding: 5px;

      .path {
        float: left;

        img {
          float: left;
          height: 60px;
          margin-right: -20px;
        }

        p {
          float: left;
          line-height: 60px;
          margin: 0;
          font-size: 0.65em;
          color: var(--grey-font);
        }
      }

      .protocolos {
        float: right;
        background-color: white;
        height: 45px;
        border-radius: 3px;
        color: var(--black-font);
        padding: 5px 25px;

        p {
          font-size: 0.75em;
          float: left;
          margin: 0;
          line-height: 45px;
          position: relative;

          i {
            font-size: 1.4em;
            position: absolute;
            top: 0.9em;
            color: var(--grey-disabled);
          }

          b {
            margin-left: 2.5em;
          }
        }

        .dados {
          float: left;
          text-align: center;
          height: 45px;
          padding-top: 10px;
          margin: 0 20px 0 40px;

          p {
            float: none;
            line-height: 12px;
          }

          .total {
            font-size: 0.7em;
            font-weight: 500;
          }

          .week {
            font-size: 0.6em;

            span {
              color: #7BD3AE;
            }
          }
        }

        .arrow {
          margin-right: 20px;

          i {
            color: var(--default-blue);
            font-weight: bold
          }
        }
      }
    }



    form {
      padding: 0 28px;

      h3 {
        color: var(--black-font);
        font-size: 1em;
        margin: 0;
      }

      p {
        color: var(--grey-font);
        font-size: 0.65em;
      }

      .form-group {
        float: left;
        position: relative;

        label {
          font-size: 0.65em;
          font-weight: 500;
          color: var(--default-blue);
        }

        input, select {
          margin-top: 10px;
          height: 30px;
          border: 1px solid var(--grey-disabled);
          border-radius: 3px;
          color: var(--default-blue);
          padding: 1px 20px;
          width: 315px;
          margin-right: 20px;
          font-size: 0.65em;
          font-weight: 500;
        }

        select {
          height: 34px;
          width: 358px;
          background-color: white;
          -webkit-appearance: none;
        }

        .empty {
          color: #8A7975;
        }

        i {
          color: var(--default-blue);
          position: absolute;
          top: 38px;
          right: 35px;
          font-size: 1.2em;
        }

        input:focus, select:focus {
          border: 1px solid var(--default-blue);
        }
      }

      .btn-blue, .btn-grey, .btn-green {
        float: left;
        margin-top: 28px;
        margin-right: 8px;
      }
    }




    table {
      width: 98%;
      clear: both;
      background-color: white;
      margin: 100px 28px;
      border-radius: 3px;
      font-size: 0.65em;

      tr {
        width: 100%;

        th {
          height: 42px;
          color: var(--grey-font);
          font-weight: 500;
          margin: -3px;
          letter-spacing: 1px;

          p {
            margin: 0;
            line-height: 42px;
          }
        }

        th.text-left p {
          border-left: 6px solid white;
        }

        td {
          height: 58px;
          margin: -3px;
          color: var(--grey-font);
          font-weight: 500;

          .descricao {
            font-size: 1.1em;
            font-weight: 500;
            color: var(--black-font);
          }

          p {
            margin: 0;
            line-height: 58px;
          }

          .btn-rounded-gray, .btn-rounded-black {
            margin: 12px;
          }
        }

        td.text-left {
          padding-top: 10px;

          p {
           border-left: 6px solid var(--default-blue);
           line-height: 18px;
         }
        }

        .text-left {
          text-align: left !important;

          p {
            padding-left: 30px;
          }
        }

        .text-center {
          text-align: center !important;
        }

        .col-2 {
          float: left;
          width: 16.6666667%;
        }

        .col-4 {
          float: left;
          width: 32.3333333%;
        }
      }
    }
  }
}
