<app-navbar></app-navbar>

<main>
  <app-header [user]="user"></app-header>

  <section>
    <div class="top">
      <div class="path">
        <img src="./assets/img/marca.png" alt="Protocolo">
        <p>/&nbsp;&nbsp;&nbsp;Natureza do Requerimento</p>
      </div>

      <div class="protocolos">
        <p><i class="material-icons">equalizer</i> <b>Todos os protocolos</b></p>
        <div class="dados">
          <p class="total">343</p>
          <p class="week"><span>+6</span> essa semana</p>
        </div>
        <p class="arrow"><i class="material-icons">keyboard_arrow_down</i></p>
      </div>
    </div>
  </section>
</main>
