/* You can add global styles to this file, and also import other style files */
:root {
  --black-font: #3E4857;
  --black-btn: #555E6B;
  --grey-font: #6E7888;
  --grey-disabled: #D4D6DA;
  --grey-hover: #FBFBFD;
  --grey-background: #EFEFEF;
  --blue: #2A3D84;
  --light-blue: #455BAC;
  --blue-active: #3B4E91;
  --green: #3A8962;
  --default-blue: #2966D8;
  --red: #E2375E;
}

html, body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  background-color: #F5F7FA;
}

input:focus, select:focus, button:focus {
  outline: none;
}



//////////custom buttons//////////////


.btn-blue {
  height: 34px;
  font-size: 0.65rem;
  background-color: var(--default-blue);
  border: 1px solid var(--default-blue);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 1px 30px;
  cursor: pointer;
}

.btn-rounded-black {
  height: 28px;
  font-size: 0.65rem;
  background-color: var(--black-btn);
  border: 1px solid var(--black-btn);
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3px;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 14px;
  i {
    font-size: 1rem;
    vertical-align: middle;
    margin-top: -2px;
  }
}

.btn-rounded-gray {
  height: 28px;
  font-size: 0.65rem;
  background-color: transparent;
  border: 1px solid var(--grey-disabled);
  color: var(--black-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3px;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 14px;
  i {
    font-size: 1rem;
    vertical-align: middle;
    margin-top: -2px;
  }
}

.btn-rounded-gray-big {
  height: 40px;
  font-size: 0.65rem;
  background-color: transparent;
  border: 1px solid var(--grey-disabled);
  color: var(--black-font);
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3px;
  padding: 13px 26px 13px 28px;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px;
  i {
    font-size: 1rem;
    vertical-align: middle;
    margin-top: -3px;
  }
}

.btn-rounded-red-big {
  height: 40px;
  font-size: 0.65rem;
  background-color: var(--red);
  border: 1px solid var(--red);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3px;
  padding: 13px 26px 13px 28px;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px;
  i {
    font-size: 1rem;
    vertical-align: middle;
    margin-top: -3px;
  }
}

.btn-green {
  height: 34px;
  font-size: 0.65rem;
  background-color: var(--green);
  border: 1px solid var(--green);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 1px 30px;
  cursor: pointer;
}

.btn-grey {
  height: 34px;
  font-size: 0.65rem;
  background-color: transparent;
  border: 1px solid var(--grey-disabled);
  color: var(--black-font);
  font-weight: bold;
  border-radius: 3px;
  padding: 1px 30px;
  cursor: pointer;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background-color: rgba(0,0,0,0.3);
}



//////////custom table////////////


table {
  width: 98%;
  clear: both;
  background-color: white;
  margin: 100px 28px;
  border-radius: 3px;
  font-size: 0.65em;

  tr {
    width: 100%;

    th {
      height: 42px;
      color: var(--grey-font);
      font-weight: 500;
      margin: -3px;
      letter-spacing: 1px;

      p {
        margin: 0;
        line-height: 42px;
      }
    }

    td {
      min-height: 58px;
      margin: -3px;
      color: var(--grey-font);
      font-weight: 500;
      white-space: normal;
      word-wrap: break-word;
      padding-top: 10px;

      .descricao {
        font-size: 1.1em;
        font-weight: 500;
        color: var(--black-font);
      }

      p {
        margin: 0;
        line-height: 58px;
      }

      .btn-rounded-gray, .btn-rounded-black {
        margin: 14px 6px;
      }
    }

    td.action {
      position: relative;

      .arrow-right {
        position: absolute;
        top: 30px;
        font-size: 1rem;
        font-weight: bold;
      }
    }

    td.text-left {
      padding-top: 10px;

      p {
       line-height: 18px;
     }
    }

    .text-left {
      text-align: left !important;

      p {
        padding-left: 30px;
      }
    }

    .text-center {
      text-align: center !important;
    }

    .col-2 {
      float: left;
      width: 16.6666667%;
    }

    .col-4 {
      float: left;
      width: 32.3333333%;
    }
  }

  tr:hover {
    background-color: var(--grey-hover);

    td {
      color: var(--default-blue) !important;
      font-weight: 600;

      .descricao {
        font-weight: 800;
        color: var(--default-blue);
      }
    }
  }

  .nenhum-requerimento {
    text-align: center;
    color: var(--grey-font);
  }
}



/////////form//////////

.form-group {
  float: left;
  position: relative;

  label {
    font-size: 0.65em;
    font-weight: 500;
    color: var(--black-font);
  }

  label.not-empty {
    color: var(--default-blue);
  }

  input, select {
    margin-top: 10px;
    height: 30px;
    border: 1px solid var(--grey-disabled);
    border-radius: 3px;
    color: var(--default-blue);
    padding: 1px 20px;
    width: 315px;
    margin-right: 20px;
    font-size: 0.65em;
    font-weight: 500;
  }

  select {
    height: 34px;
    width: 358px;
    background-color: white;
    -webkit-appearance: none;
  }

  .empty {
    color: #8A7975;
  }

  i {
    color: var(--default-blue);
    position: absolute;
    top: 38px;
    right: 35px;
    font-size: 1.2em;
  }

  input:focus, select:focus {
    border: 1px solid var(--default-blue);
  }
}

.btn-blue, .btn-grey, .btn-green {
  float: left;
  margin-top: 28px;
  margin-right: 8px;
}
