/* You can add global styles to this file, and also import other style files */
:root {
  --black-font: #3E4857;
  --grey-font: #6E7888;
  --grey-disabled: #D4D6DA;
  --blue: #2A3D84;
  --light-blue: #455BAC;
  --blue-active: #3B4E91;
  --green: #3A8962;
  --default-blue: #2966D8;
}

html, body {
  margin: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  background-color: #F5F7FA;
}

input:focus, select:focus {
  outline: none;
}

.btn-blue {
  height: 34px;
  font-size: 0.65em;
  background-color: var(--default-blue);
  border: 1px solid var(--default-blue);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 1px 20px;
  cursor: pointer;
}

.btn-green {
  height: 34px;
  font-size: 0.65em;
  background-color: var(--green);
  border: 1px solid var(--green);
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 1px 20px;
  cursor: pointer;
}

.btn-grey {
  height: 34px;
  font-size: 0.65em;
  background-color: transparent;
  border: 1px solid var(--grey-disabled);
  color: var(--black-font);
  font-weight: bold;
  border-radius: 3px;
  padding: 1px 20px;
  cursor: pointer;
}
